.arimg {
  height: 30vh;
  width: 100%;
  object-fit: contain;
  justify-content: center;
}

#befLink,
#aftLink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-limit-length {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filesBtn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

#fileUpload{
  border: 1px;
  border-color: rgb(150,150,150);
  border-radius: 6px;
  height: 100px;
  border-style: dashed;
  margin-bottom: 10px;
  text-align: center;
  line-height:100px;
}