<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
    <title>超分辨率 | Ar-Sr-Na</title>
</head>

<body>
    <div id="root"></div>
</body>

</html>
<script src="https://tam.cdn-go.cn/aegis-sdk/latest/aegis.min.js"></script>
<script>
    const aegis = new Aegis({
        id: 'W7oejTaL4r0ek1Yg67', // 上报 id
        uin: `ESRGAN-Photo ${uuid()}`, // 用户唯一 ID（可选）
        reportApiSpeed: true, // 接口测速
        reportAssetSpeed: true, // 静态资源测速
        spa: true, // spa 应用页面跳转的时候开启 pv 计算
        hostUrl: 'https://rumt-zh.com'
    });
</script>